
html {
    background-color: #627A74;
}

@font-face {
    font-family: "Fira Sans";
    src: url('../../public/assets/fonts/bedstead.otf');

  }

body {
    font-family: "Berlin Sans FB", Tahoma, sans-serif;
  }