---
import BestLayout from "../layouts/BestLayout.astro";
import Vignette from '../components/Vignette.astro';
---

<BestLayout>

    <span>
        <Vignette imageHref="/assets/puzzPics/200x200/ia2.png"/>
        <Vignette imageHref="/assets/puzzPics/200x200/ia1.png"/>
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
        <Vignette />
    </span>

</BestLayout>

<style lang="scss">
    h1, p{
        margin-left: 1em;
    }

    span{
        display: flex;
        flex-wrap: wrap;
    }

</style>