---
import BestLayout from "../layouts/BestLayout.astro";
---

<BestLayout>

    <div>
        <h2>Nothing is featured</h2>
        <p>Those aren't even real puzzles why would you think any of them could be featured !</p>
    </div>

</BestLayout>

<style lang="scss">
    *{
        color: #91B5AC;
    }
    div>h2{
        font-size: 3em;
    }


</style>