---

---

<div>
    <input type="text" placeholder="Look for puzzles">
</div>


<style lang="scss">


input{
        display: flex;
        width: 33%;
        height: 2em;
        margin: 1em;
        border-radius: 0.3em;
        margin-left: auto; 
        
    }

</style>