---
interface Props {
    imageHref?: string
    name?: string
}

const {
    imageHref = "/assets/puzzPics/200x200/noPicture.png",
    name = "No name"

} = Astro.props;

---

<a href="#">
    <div>
        <picture>
            <img src={imageHref} alt="" />
        </picture>
    </div>
    <h5>{name}</h5>
</a>

<style lang="scss">

    *{
        padding: 0px;
        margin: 0px;
        border: 0px;
        text-decoration: none; 
    }

    a>div{
        background-color: #374541;
        padding: 0.8em;
        width: 200px;
        margin: 0.1em;
        border-radius: 1em;
        & picture, img{
            border-radius: 0.2em;
        }
    }
    h5{
        text-align: center;
        color: #91B5AC;
        margin-bottom: 1em;
    }
    

</style>




