---

---


<footer>

    <nav>
        <span>
            <p>🚧 En construction 🚧</p>
            <span id="socials-list">
                <a href="#"><img src="/assets/icons/info.png" alt="Info"></a>
                <a href="#"><img src="/assets/icons/contacts.png" alt="Contacts"></a>
                <a href="#"><img src="/assets/icons/help.png" alt="Help"></a>
            </span>
            
        </span>
    </nav>

</footer>


<style lang="scss">

    *{
        padding: 0px;
        margin: 0px;
        border: 0px;
        text-decoration: none; 
    }

    span{
        background-color: #374541;
        display: flex;
        flex-wrap: wrap;
        padding: 0.5em;
        p{
            color: #91B5AC;
        }
    }

    #socials-list{ 
    display: flex;
    flex-wrap: wrap;
    margin-left: auto; 
    margin-right: 0;

    a > img{
        height: 3vw;
        margin-right: 0.5em;
        font-size: 2vw
    }
    }

</style>