---
import WebHeader from '../components/WebHeader.astro';
import WebFooter from '../components/WebFooter.astro';

interface Props {
    language?: string
    title?: string
}

const {
    language = "en",
    title = "STLPuzzles"

} = Astro.props;

import '../styles/test.scss'
---


<!-- HTML 5 -->


<!DOCTYPE html>
<html lang={language}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link rel="icon" type="image/x-icon" href="../../public/mischief_redraw.ico">

</head>

<body>
    
    <!-- HEADER -->
    <WebHeader />

    <div>
        <slot />
    </div>
    
    <!-- FOOTER -->
    <WebFooter />

</body>
</html>

<style lang="scss">

    *{
        padding: 0px;
        margin: 0px;
        border: 0px;
    }

    div{
        padding: 10px;
        padding-left: 15%;
        padding-right: 15%;
        background-image: url("../../public/assets/jigsaw.png");
        animation: bgJigScroll 7.5s linear infinite;

    }

    @keyframes bgJigScroll {
    0% {
        background-position : 0px 0px
    }
    100% {
        background-position : -0px -64px
    }
    }

